  .benefits {
    background: linear-gradient(91deg, #7DA9A9 -12.82%, rgba(255, 255, 255, 0.4) 66.71%);

    &__container {
      padding: $gap-big 0;
    }

    &__wrapper {
      position: relative;

      &:not(:last-of-type) {
        padding-bottom: $gap-main;
        margin-bottom: $gap-main;

        &:after {
          position: absolute;
          content: '';
          bottom: 0;
          left: 0;

          display: block;
          width: 100%;
          height: 1px;

          background-color: #DDDFE0;
        }
      }

      &:first-of-type .benefits__content:before {
        background-image: url('../icons/benefits/free.svg');

      }

      &:last-of-type .benefits__content:before {
        background-image: url('../icons/benefits/support.svg');
      }

    }

    &__content {
      position: relative;

      width: 100%;
      max-width: 1685px;
      padding-left: 314px;

      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;

        display: block;
        width: 208px;
        height: 136px;

        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
      }
    }

    &__title {
      @include title;

      margin-bottom: 16px;

      font-size: $h4-desk;
      line-height: $h4-height;
    }

    &__descr {
      @include descr;

      padding-bottom: 7px;

      font-size: $text-desk;
      line-height: $text-height-desk;
    }

  }


  @media (max-width: 1536px) {
    .benefits {
      &__container {
        padding: $gap-main 0;
      }

      &__content {
        max-width: 1106px;
        padding-left: 237px;

        &:before {
          width: 158px;
          height: 103.308px;
        }
      }

      &__title {
        font-size: $h4-desk-m;
        line-height: $h4-height-m;
      }

      &__descr {
        font-size: $text-desk-m;
        line-height: $text-height-desk-m;
      }
    }

  }

  @media (max-width: 768px) {
    .benefits {
      &__content {

        max-width: 100%;
        padding-left: 0;
        padding-top: 56px;

        &::before {
          width: 60px;
          height: 40px;
        }
      }

      &__wrapper {

        &:first-of-type {
          .benefits__content:before {
            background-image: url(../icons/benefits/free@mobile.svg);
          }
        }

        &:last-of-type {
          .benefits__content:before {
            background-image: url(../icons/benefits/support@mobile.svg);
          }
        }
      }

      &__title {

        margin-bottom: $gap-sm;
      }

    }
  }
