.download {
  background-image: linear-gradient(180deg, rgba(179, 241, 238, 0.23) 0.13%, #7DA9A9 100.13%);

  &__container {
    display: flex;
    justify-content: space-between;

    padding: $gap-big 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    width: 100%;
    max-width: 632px;
    margin-right: 40px;
  }

  &__title {
    @include title;

    font-size: $h2-desk;
    line-height: $h2-height;
  }

  &__descr {
    @include descr;

    font-size: $text-desk;
    line-height: $text-height-desk;
  }

  &__form {
    width: 100%;
    max-width: 952px;
    padding: 40px 104px;

    background-color: #fff;
    border-radius: 12px;
  }
}

@media (max-width: 1536px) {
  .download {

    &__container {
      padding: $gap-main 0;
    }

    &__content {
      max-width: 474px;
    }

    &__title {
      font-size: $h2-desk-m;
      line-height: $h2-height-m;
    }

    &__descr {
      font-size: $text-desk-m;
      line-height: $text-height-desk-m;
    }

    &__form {
      max-width: 710px;
      padding: 32px 34.5px;
    }
  }
}


@media (max-width: 1100px) {
  .download {

    &__container {
      flex-wrap: wrap;
      justify-content: start;

      row-gap: $gap-main;
    }

    &__content {
      max-width: 100%;
      margin-right: 0;
    }

    &__form {
      max-width: 80%;
      margin: 0 auto;
    }


  }
}


@media (max-width: 768px) {
  .download {
    &__container {
      row-gap: $gap-secondary;
    }

    &__form {
      max-width: 100%;
    }
  }

}

@media (max-width: 601px) {
  .download {

    &__container {
      padding-bottom: 0;
    }

    &__form {
      padding: 20px;
    }
  }

}
