.features {

  &__container {
    padding: $gap-big 0;
  }

  &__title {
    @include title;

    margin-bottom: 40px;

    text-align: center;
    font-size: $h2-desk;
    line-height: $h2-height;

    &--bold {
      font-weight: 600;

      span {
        color: $secondary-collor;
      }
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  &__item {
    position: relative;
    width: clamp(38.25rem, -2.729rem + 45.53vw, 51.625rem);

    padding: 8px 20px 8px 146px;
    &:before {
      content: "";
      position: absolute;
      display: block;

      width: clamp(5rem, 0.021rem + 5.53vw, 6.625rem);
      height: clamp(5rem, 0.021rem + 5.53vw, 6.625rem);

      left: 0;
      top: 8px;

      background-size: contain;
      background-repeat: no-repeat;
    }

    &:first-of-type:before {
      background-image: url('../icons/features/ai.svg');
    }
    &:nth-of-type(2):before  {
      background-image: url('../icons/features/business-intelligence.svg');
    }
    &:nth-of-type(3):before  {
      background-image: url('../icons/features/integration.svg');
    }
    &:nth-of-type(4):before  {
      background-image: url('../icons/features/messaging.svg');
    }
    &:nth-of-type(5):before  {
      background-image: url('../icons/features/telephony.svg');
    }
    &:last-of-type:before  {
      background-image: url('../icons/features/sso.svg');
    }
  }
  &__subtitle {
    @include title;

    margin-bottom: $gap-section;

    font-size: $h4-desk;
    line-height: $h4-height;
  }

  &__descr {
    @include descr;

    font-size: $text-desk;
    line-height: $text-height-desk;
  }
}
