.features {

  &__container {
    padding: $gap-big 0;
  }

  &__title {
    @include title;

    margin-bottom: $gap-main;

    text-align: center;
    font-size: $h2-desk;
    line-height: $h2-height;

    &--bold {
      font-weight: 600;

      span {
        color: $primary-color;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: $gap-main;
  }

  &__item {
    position: relative;

    flex: 1 1 48%;

    width: 100%;
    max-width: 826px;
    min-width: 343px;

    padding: 8px 20px 8px 146px;

    &:before {
      content: "";
      position: absolute;
      display: block;

      width: clamp(5rem, 0.021rem + 5.53vw, 6.625rem);
      height: clamp(5rem, 0.021rem + 5.53vw, 6.625rem);

      left: 0;
      top: 8px;

      background-size: contain;
      background-repeat: no-repeat;
    }

    &:first-of-type:before {
      background-image: url('../icons/features/ai.svg');
    }

    &:nth-of-type(2):before {
      background-image: url('../icons/features/business-intelligence.svg');
    }

    &:nth-of-type(3):before {
      background-image: url('../icons/features/integration.svg');
    }

    &:nth-of-type(4):before {
      background-image: url('../icons/features/messaging.svg');
    }

    &:nth-of-type(5):before {
      background-image: url('../icons/features/telephony.svg');
    }

    &:last-of-type:before {
      background-image: url('../icons/features/sso.svg');
    }
  }

  &__subtitle {
    @include title;

    margin-bottom: $gap-section;

    font-size: $h4-desk;
    line-height: $h4-height;
  }

  &__descr {
    @include descr;

    font-size: $text-desk;
    line-height: $text-height-desk;
  }
}


@media (max-width: 1536px) {
  .features {

    &__container {
      padding: $gap-main 0;
    }

    &__title {
      font-size: $h2-desk-m;
      line-height: $h2-height-m;
    }

    &__item {

      padding: 8px 20px 8px 112px;

      &:before {
        width: clamp(3.5rem, 2.943rem + 2.29vw, 5rem);
        height: clamp(3.5rem, 2.943rem + 2.29vw, 5rem);
      }
    }

    &__subtitle {
      font-size: $h4-desk-m;
      line-height: $h4-height-m;
    }

    &__descr {
      font-size: $text-desk-m;
      line-height: $text-height-desk-m;
    }
  }

}

@media (max-width: 1100px) {
  .features {

    &__list {

      justify-content: center;
    }
  }

}

@media (max-width: 768px) {
  .features {

    &__title {

      margin-bottom: $gap-secondary;
    }

    &__list {

      row-gap: $gap-secondary;
    }
  }
}


@media (max-width: 601px) {
  .features {

    &__item {
      padding-left: 72px;
    }

    &__subtitle {
      margin-bottom: $gap-sm;
    }
  }

}

@media (max-width: 350px) {
  .features {

    &__item {

      padding-left: 64px;
      padding-right: 0;
      min-width: 0;

      &:before {
        width: 48px;
        height: 48px;
      }
    }
}
}
