.header {
  min-height: 80px;

  &__container {
    display: flex;
    align-items: center;

    padding: 20px 0;
  }

  &__logo {
    display: block;

    width: 189px;
    margin-right: auto;
    padding: 4px 0;

    outline: none;

    flex-shrink: 0;
  }

  &__logo-img {
    display: inherit;

    width: 189px;
    height: 32px;
  }

  &__nav {
    margin-right: $gap-secondary;
  }

  &__btn {
    @include btn();

    padding: 7px 19px;

    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;

    color: $white-text;

    margin-right: 24px;

    &--sm {
    display: none;
    }
  }
}

@media (max-width: 1100px) {
  .header {
    &__btn {

      &--bg {
      display: none;
      }

      &--sm {
      display: inline-block;
      }
    }

    .hamburger {
      order: 4;
      display: block;
    }

    &.active .bar:nth-child(2) {
      opacity: 0;
    }

    &.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    &.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    &.active .header__btn--sm {
      display: none;
    }

    .lang {
    display: none;}
  }

}







