.header {

  position: relative;
  min-height: 80px;
  z-index: 1000;
  background: #fff;

  &.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: #fff;
    transition: top 0.3s ease, background-color 0.3s ease;

    .header__btn {
      background-color: $primary-color;
      color: $grey-lighter;
      border: 1px solid $primary-color;

      &:hover {
        background-color: $hover;
        border: 1px solid $primary-color;
      }

      &:active {
        background-color: $active;
        border: 1px solid $primary-color;
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;

    padding: 20px 0;
  }

  &__logo {
    display: block;

    width: 100%;
    max-width: 189px;
    margin-right: auto;
    padding: 4px 0;

    outline: none;

    flex-shrink: 0;
  }

  &__logo-img {
    display: inherit;

    width: 100%;
  }

  &__nav {
    margin-right: $gap-secondary;
  }

  &__btn {
    @include btn();

    padding: 7px 19px;

    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;

    color: $black;
    background-color: $grey-btn;
    border: 1px solid $grey-btn;

    margin-right: 24px;

    &:hover {
      color: $white;
    }

    &:focus-visible:not(:hover) {
      background-color: $primary-color;
    }

    &--sm {
      display: none;
    }
  }
}

@media (max-width: 1100px) {
  .header {
    &__btn {

      margin-right: 16px;

      &--bg {
        display: none;
      }

      &--sm {
        display: inline-block;
        flex-shrink: 0;
      }
    }

    &__nav {
      margin-right: 0;
    }

    .hamburger {
      order: 4;
      display: block;
      width: 32px;
      height: 32px;

      outline: none;
    }

    &.active .bar:nth-child(2) {
      opacity: 0;
    }

    &.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    &.active .bar:nth-child(3) {
      transform: translateY(0) rotate(-45deg);
    }

    &.active .header__btn--sm {
      display: none;
    }

    .lang {
      display: none;
    }
  }



}


@media (max-width: 601px) {
  .header {

    min-height: 56px;

    &__container {

      justify-content: start;

      padding: 12px 0;
    }

    &__btn--sm {

      padding: 4px 12px;

      font-size: 14px;
      line-height: 24px;
    }
  }
}

@media (max-width: 450px) {
  .header {

    &__logo {
      width: 104px;
      height: 18px;
    }
  }
}
