@use 'sass:math';

.hero {
  position: relative;

  &:before {
    position: absolute;
    content: "";

    display: block;
    width: 100%;
    height: 100%;

    background-image: url('../img/hero-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;

    z-index: -1;
  }

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: $gap-main;

    padding: $gap-main 0;
  }

  &__wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  &__cotent {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 738px;
    margin-right: 20px;
  }

  &__title {
    @include title;

    margin-bottom: $gap-section;

    font-size: clamp(2.5rem, 0.152rem + 2.61vw, 3.25rem);
    line-height: clamp(3.375rem, -0.147rem + 3.91vw, 4.5rem);
  }

  &__descr {
    @include descr;

    margin-bottom: 32px;

    font-size: $text-desk;
    line-height: $text-height-desk;
  }

  &__btn {
    @include btn();

    align-self: start;

    margin-bottom: $gap-section;
    padding: 15px 23px;

    font-size: 1.625rem;
    line-height: 2.25rem;
    font-weight: 500;
  }

  &__text {
    @include descr;

    display: block;

    font-size: $text-desk;
    line-height: $text-height-desk;
  }

  &__video {
    position: relative;

    width: 100%;
    max-width: 848px;
    height: auto;

    border: 10px solid $primary-color;
    border-radius: 8px;
    outline: none;

    .video {
      position: relative;

      width: 100%;
      padding-top: math.div((594 * 100%), 828);

      background-image: url('../img/thumbnail-video.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      cursor: pointer;

      iframe {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 100%;
      }
    }
  }

  .start-video {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;

    color: $primary-color;
    outline: none;

    transform: translate(-50%, -50%);

    cursor: pointer;

    &:hover {
      svg g path {
        color: $hover;
      }
    }

    &:active {
      svg g g circle:first-of-type {
        fill: $primary-color;
      }

      svg g path {
        color: $grey-lighter;
      }
    }
  }
}

@media (max-width: 1536px) {

  .hero {

    &__cotent {
      max-width: 553px;
    }

    &__title {
      font-size: clamp(2.125rem, 1.989rem + 0.68vw, 2.5rem);
      line-height: clamp(2.875rem, 2.693rem + 0.91vw, 3.375rem);
    }

    &__descr {
      font-size: $text-desk-m;
      line-height: $text-height-desk-m;
    }

    &__video {
      max-width: 632px;
    }

    &__btn {
      font-size: 1.25rem;
      line-height: 1.75rem;

      padding: 15px 20px;
    }

    &__text {
      font-size: 0.75rem;
      line-height: 1rem;
    }

    &__video {

      .start-video {

        svg {
          width: 60px;
          height: 60px;
        }
      }
    }
  }

}


@media (max-width: 1100px) {
  .hero {

    &:before {
      position: absolute;
      content: "";

      display: block;
      width: 100%;
      height: 100%;

      bottom: 0;
      right: 0;
      left: 0;

      background-image: url('../img/hero-bg-mobile.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center bottom;

      z-index: -1;
    }

    &__wrapper {
      flex-direction: column;
      align-items: center;

      row-gap: $gap-main;
    }

    &__cotent {

      max-width: 90%;
      margin-right: 0;
    }

    &__video {

      max-width: 80%;
    }
  }

}

@media (max-width: 768px) {
  .hero {
    &__container {
      padding: $gap-secondary 0;
      row-gap: $gap-secondary;
    }

    &__cotent {
      max-width: 100%;
    }

    &__title {
      margin-bottom: $gap-sm;
    }

    &__descr {
      margin-bottom: $gap-secondary;
    }

    &__btn {
      margin-bottom: $gap-sm;
    }

    &__wrapper {
      row-gap: $gap-secondary;
    }

    &__video {
      max-width: 100%;

      border-width: 5px;

      .start-video svg {
        width: 80px;
        height: 80px;
      }
    }

  }

}
