.nav {

  display: flex;
  align-items: center;

  &__list {
    display: inherit;
    gap: $gap-section;
  }

  &__item {
    font-weight: 500;

    color: $secondary-collor;
  }

  &__link {
    display: inline-block;

    padding: 8px 4px;

    border-radius: 2px;
    outline: none;

    transition: color .2s ease-in-out, background-color .2s ease-in-out;

    &:hover {
      background-repeat: no-repeat;
      background-image:   linear-gradient(to right, $hover 100%, $hover 100%),
          linear-gradient(to bottom, $hover 100%, $hover 100%),
          linear-gradient(to right, $hover 100%, $hover 100%),
          linear-gradient(to bottom, $hover 100%, $hover 100%);
      background-size:    100% 1.5px, 1.5px 100%, 100% 1.5px, 1.5px 100%;
      background-position:    0 0, 100% 0, 100% 100%, 0 100%;

      animation: anim-border .3s ease-in-out;
    }

    &:focus-visible:not(:hover) {
      outline: 1px solid $secondary-collor;
    }
    &:active {
      color: $white-text;
      background-color: $active;
    }
  }
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;

  background-color: #000;
}

@keyframes anim-border {
  0% {
      background-size:    0 1.5px, 1.5px 0, 0 1.5px, 1.5px 0;
  }
  50% {
      background-size:    0 1.5px, 1.5px 100%, 0 1.5px, 1.5px 100%;
  }
  100% {
      background-size:    100% 1.5px, 1.5px 100%, 100% 1.5px, 1.5px 100%;
  }
}

@media (max-width: 1100px) {
  .nav {

    &__list {
      position: absolute;
      left: 100%;
      top: 80px;
      gap: 0;
      width: 100%;
      flex-direction: column;
      text-align: center;

      background-color: #fff;
      transition: 0.3s;

      z-index: 10;
    }

    &__list.active {
    left: 0;
    }

  }
}

