.partners {
  &__text {
    @include descr;
    font-size: $text-desk;
    line-height: $text-height-desk;

    display: block;
    text-align: center;

    margin-bottom: 67.5px;
  }

  &__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    color: #42527B;
  }
}


