.partners {
  &__text {
    @include descr;
    font-size: $text-desk;
    line-height: $text-height-desk;

    display: block;
    text-align: center;

    margin-bottom: 100px;
  }

  &__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1561px;
    margin: 0 auto;

    color: $grey;
    opacity: .9;
  }
}

@media (max-width: 1536px) {

  .partners {

    &__icons {
      max-width: 1203px;

      svg {
        width: auto;
        max-height: 50px;
      }
    }

    &__text {
      font-size: 22px;
      font-weight: 400;
      line-height: 36px;

      margin-bottom: 40px;
    }
  }

}

@media (max-width: 1100px) {

  .partners {

    &__icons {

      flex-wrap: wrap;
      gap: 24px;
      justify-content: center;

      svg {

        flex: 1 1 30%;
      }
    }
  }

}

@media (max-width: 768px) {
  .partners {

    &__text {
      font-size: 0.875rem;
      line-height: 1.25rem;
      margin-bottom: $gap-secondary;
    }

    &__icons svg {
      width: auto;
      max-height: 40px;
    }
  }
}
