@use 'sass:math';

.resources {

  &__container {
    padding: $gap-big 0;
  }

  &__title {
    @include title;

    margin-bottom: $gap-big;

    font-size: $h2-desk;
    line-height: $h2-height;
    text-align: center;
  }

  &__card {
    display: flex;
    column-gap: $gap-big;

    &:nth-child(odd) {

      .resources__item:first-of-type {
        width: math.div((951 * 100%), 1692);
      }

      .resources__item:last-of-type {
        width: math.div((691 * 100%), 1692);
      }
    }

    &:nth-child(even) {

      .resources__item:first-of-type {
        width: math.div((691 * 100%), 1692);
      }

      .resources__item:last-of-type {
        width: math.div((951 * 100%), 1692);
      }
    }

    &:not(:last-child) {
      margin-bottom: $gap-big;
    }

    &:first-child {
      .resources__item:first-of-type:after {
      background-image: url('../icons/resources/resources-icon.svg');
      }

      .resources__item:last-of-type:after {
        background-image: url('../icons/resources/concierge-icon.svg');
        }
    }

    &:last-child {
      .resources__item:first-of-type:after {
      background-image: url('../icons/resources/post-icon.svg');
      }

      .resources__item:last-of-type:after {
        background-image: url('../icons/resources/price-icon.svg');
        }
    }
  }

  &__item {
    position: relative;

    display: block;
    padding: 42px 50px 45px 214px;
    min-height: 251px;

    border: 1px solid #DDDFE0;
    border-radius: 8px;

    &:hover span{
      color: $secondary-collor;

      transform: scale(1.2);
    }

    span {
      position: absolute;
      bottom: 24px;
      right: 24px;

      display: block;
      width: 48px;
      height: 48px;
      padding: 16px;

      color: #3C3F4A;
      border-radius: 8px;

      transition: transform .3s ease-in-out;
    }

    &:after {
      position: absolute;
      content: '';
      top: 42px;
      left: 62px;

      display: block;
      width: 98px;
      height: 98px;

      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }
  }
  &__subtitle {
    @include title;

    margin-bottom: $gap-secondary;

    font-size: $h4-desk;
    line-height: $h4-height;
  }
  &__descr {
    @include descr;

    font-size: $text-desk;
    line-height: $text-height-desk;
  }
}

@media (max-width: 1536px) {

  .resources__container {
    padding: $gap-main 0;
  }

  .resources__title {
    margin-bottom: $gap-main;

    font-size: $h2-desk-m;
    line-height: $h2-height-m;
  }

  .resources__card {

    column-gap: $gap-main;

    &:not(:last-child) {
      margin-bottom: $gap-main;
    }
  }

  .resources__item {

    padding: 32px 80px 20px 156px;
    min-height: 216px;

    &:after {
      top: 32px;
      left: 44px;

      width: 72px;
      height: 72px;
    }
  }
}


@media (max-width: 1100px) {

  .resources__card {
    flex-wrap: wrap;
    row-gap: $gap-main;

    &:nth-child(odd),
    &:nth-child(even) {

      .resources__item:first-of-type,
      .resources__item:last-of-type {
        width: 100%;
      }
    }
  }


}
