.lang {
	position: relative;
	width: 74px;
  outline: none;
  border-radius: 2px;

    &:hover .lang__current,
    &:hover .lang__icon {
      color: $secondary-collor;
      fill: $secondary-collor;
    }

    &.is-active{
      .lang__hidden {
        display: block;
      }
    }
    &__main {
      display: flex;
      column-gap: 4px;
      align-items: center;


      padding: 8px 16px;
      border-radius: 8px;

      cursor: pointer;
    }
    &__current {
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;
    }
    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      width: 16px;
      height: 16px;
      flex-shrink: 0;
    }
    &__hidden {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;

      border-radius: 8px;

      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      z-index: 1000;
    }
    &__item {
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;

      padding: 8px 16px;

      cursor: pointer;

      transition: background-color .3s ease-in-out, color .2s ease-in-out;

      &:first-of-type {
        border-top-left-radius: 8px;
        border-top-right-radius:8px;
      }
      &:last-of-type {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius:8px;
      }
      &:hover {
        background-color: $secondary-collor;
        color: $white-text;
      }
    }
}


