.header {
  &__container {
    padding: 20px 0;

    display: flex;
    align-items: center;
  }
}

.header__logo {
  display: block;
  width: 189px;

  margin-right: auto;
  .logo {
    display: inherit;
    flex-shrink: 0;
    width: 189px;
    height: 32px;
  }
}

.header__nav {
  margin-right: $gap-secondary;
}
.header__btn {
  @include btn();

  padding: 7px 19px;

  color: $white-text;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  margin-right: 24px;
}

